<h1>Hi! Click da button</h1>

<%= link_to "CLICK ME!!!", controller: "greetings", action: "show" %>

<p>I will eventually have this customizeable but for now you are this user jess = {id: 12, likes_old_movies: true, favorite_genres: "Action|Sci-Fi"}</p>
<!-- # => <a href="/profiles">Profiles</a> -->
